<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Required by build procedure -->
  <package id="FAKE" version="2.11.18-alpha" />
  <package id="NuGet.CommandLine" version="2.8.0" />
  <package id="NUnit.Runners" version="2.6.3" targetFramework="net40" />
  <!-- bundled package (because nuget version is not compatible with latest RazorEngine & C#): <package id="FSharp.Formatting" version="2.4.25" targetFramework="net451" /> -->
  <!-- Dependencies of FSharp.Formatting -->
    <!-- bundled package (because nuget version doesnt support c#): <package id="FSharp.Compiler.Service" version="0.0.62" /> -->

</packages>