<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Required by build procedure -->
  <package id="FAKE" version="3.16.2" />
  <package id="NuGet.CommandLine" version="2.8.3" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net40" />
  <package id="FSharp.Formatting" version="2.7.4" targetFramework="net45" />
  <package id="FSharp.Compiler.Service" version="0.0.82" targetFramework="net45" />
  <package id="FSharpVSPowerTools.Core" version="1.7.0" targetFramework="net45" />
</packages>