version 5.0.0
source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget Nuget.CommandLine
nuget FAKE
nuget FSharp.Formatting prerelease
nuget System.ValueTuple
nuget Microsoft.AspNet.Razor

group Razor4
  source https://nuget.org/api/v2

  nuget Microsoft.AspNetCore.Razor ~> 1.0
  nuget Microsoft.CodeAnalysis ~> 1.3
  nuget System.Collections.Immutable ~> 1.2
  nuget System.Reflection.Metadata ~> 1.4
  nuget Microsoft.AspNet.Mvc

  nuget NUnit ~> 3.6
  nuget NUnit.Console ~> 3.6

  nuget Moq

  nuget Autofac ~> 3.5

// Get old packages to bundle old builds with the nuget package.
group NET45
  source https://nuget.org/api/v2
  nuget RazorEngine 3.10.0 