<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!-- Configuration section-handler declaration area. -->
  <configSections>
      <section
        name="razorEngine"
        type="RazorEngine.Configuration.RazorEngineConfigurationSection, RazorEngine"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
      <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <razorEngine>
      <namespaces>
          <add namespace="Awesomi.Messaging.Configuration" />
          <add namespace="Awesomi.Model.Content" />
          <add namespace="Awesomi.Model.Extensions" />
          <add namespace="Awesomi.Model.Security" />
      </namespaces>
      <templateServices>
          <service name="myapp">
              <namespaces>
                  <add namespace="Awesomi.Messaging.Configuration" />
                  <add namespace="Awesomi.Model.Content" />
                  <add namespace="Awesomi.Model.Extensions" />
                  <add namespace="Awesomi.Model.Security" />
              </namespaces>
          </service>
      </templateServices>
  </razorEngine>
</configuration>