<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="razorEngine" type="RazorEngine.Configuration.RazorEngineConfigurationSection, RazorEngine" requirePermission="false"/>
  </configSections>
  <!--<razorEngine compilerServiceFactoryType="RazorEngine.Web.WebCompilerServiceFactory, RazorEngine.Web"/>-->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".csrzr" type="RazorEngine.Web.CSharp.CSharpRazorBuildProvider, RazorEngine.Web"/>
        <add extension=".vbrzr" type="RazorEngine.Web.VisualBasic.VBRazorBuildProvider, RazorEngine.Web"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Web.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!-- Trust Level is for 
    <trust level="Medium"/> -->
  </system.web>
</configuration>