<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>
    This is a Layout
</p>
<div>
    @RenderBody()
</div>
</body>
</html>