@model Test.RazorEngine.Templating.Templates.Model

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>
    Hello @Model.Name! Your answer is @Model.Answer.
</p>
</body>
</html>